@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: white; */
}
li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
    font-weight: bolder;
    margin-left: 0px;
    justify-items: center;
    justify-content: center;

}
header {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    margin-left: -40px;


}
.logo{
    cursor: pointer;
    font-size: medium;
}
.nav_links {
    list-style: none;
   
}
.nav_links li {
    display:inline-block ;
    padding: 0px 20px;
    margin-right: -1px;
}
.nav_links li a{
    transition: all 0.3s ease 0s;
    
}
.nav_links li a:hover{
    color: #0d6a81;
}
.cta{
    margin-right: -1px;
}

button{
    padding: 9px 25px;
    background-color: rgb(81, 155, 87);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;

 
}
button :hover{
    background-color: rgba(226, 238, 241, 0.8);
    

}

/* for the content */

.wrap{
    background-image: url("https://wallpaperaccess.com/full/462860.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    overflow: hidden;
    background-blend-mode: overlay;
    margin-right: 0px;
    width: 100%;
    justify-content: center;
    position: relative;
    background-attachment: fixed;
}


.content{
    max-width: 1000px;
    padding: 200px 80px 0;
    color: #fff;
    margin-top: -95px;
    justify-content: center;
    position: relative;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;

}
.content h1{
    font-size: 48px;
}
.content p{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 25px 0px ;
    font-weight: 30px;
    flex-wrap: wrap;
    
}
.text-center{
    text-align: center!important;
}
.content .btn-group{
    margin-top: 55px;
    display: inline-block;
    justify-content: center;

}
.content a{
    padding: 15px 45px;
    text-decoration: none;
    color: #fff;
    border-radius: 50px ;
    justify-content: center;
}

.content a.color1{
    background-color: rgb(81, 155, 87);
    margin-left: -40px;

}
.content a.color2{
    background-color: rgb(164, 172, 165);
    

}


/* for services */
.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-attachment: fixed;
   
    
}
.food-blog{
    display:inline-block;
    width: 100%;
    position: relative;
    margin: 70px 0 0 0;
    overflow-x: hidden;
}
/* @media(max-width: 991px) */
.food-blog .row{
    margin-left: -15px;
    margin-right: -15px;
    display: inline-flex;
    
}
@media only screen and (max-width: 600px) {
    .food-blog img{
        height: 100px;
        justify-content: space-between;
        
}


}
.col-md-3 col-sm-3 col-xs-12 food-mxs{
    position: relative;
    min-height: 1px;
}
.food-blog-inner{
    float: left;
    width: 100%;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    text-align: center;
}
h2{
    display: block;
    margin-block-start: 0.83em;
    scroll-margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}

.about{
    background-color: wheat;
}